h1, h2, h3 {
  text-align: center;
}

.itemBox {
  padding: 15px;
}
img{
  width:100%;
}

.green {
  background-color: #226600;
}

span {
  font-size: 16px;
}

.invent{
  font-size: 24px;
}

p {
  text-align: center;
}
